@import "tailwindcss";

:root {
  --background: #ffffff;
  --color-brand: #01F0D0;
  --color-text-primary: #07263E;
  --color-text-secondary: #707070;
  --color-bg-main: #F6F7F8;
}

@theme inline {
  --color-background: var(--color-bg-main);
  
  --color-brand: var(--color-brand);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);

  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
  
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);

}
